@import "../../../scss/colors.scss";
@import "../../../scss/variables.scss";

.profile-card {
  display: grid;
  grid-column-start: -1;
  grid-template-columns: 100px $header-height;

  img {
    height: $header-height;
    width: auto;
    border-radius: 50%;
    border: 2px solid $primary-color-dark;
  }

  div {
    line-height: $header-height;
  }
}