//https://material.io/tools/color/#!/?view.left=0&view.right=0&primary.color=0277bc&secondary.color=FFEB3B

// TODO: Figure out the schemes
$black: #000000;
$white: #ffffff;

$primary-color: #0277bd;
$primary-color-light: #58a5f0;
$primary-color-dark: #004c8c;
$primary-color-text: $white;
$primary-color-light-text: $white;
$primary-color-dark-text: $white;

// TODO Figure out the schemes
$secondary-color: #ffeb3b;
$secondary-color-light: #ffff72;
$secondary-color-dark: #c8b900;
$secondary-color-text: $black;
$secondary-color-light-text: $black;
$secondary-color-dark-text: $black;

